
  
  .sidebar {
    position: absolute;
    top: 0;
    right: 100px;
    width: 6100px; /* Width of your sidebar */
    height: 100%; /* Full height */
    overflow: hidden; /* Hide overflow when closed */
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /* Cover the whole sidebar area */
    bottom: 0; /* Cover the whole sidebar area */
    background: #fff; /* Background color of the sidebar */
    clip-path: ellipse(100% 75% at 100% 50%); /* Default clip-path for closed state */
  }
  
  
  
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  