@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.scrolling-text {
    animation: scroll 10s linear infinite;

}