@font-face {
    font-family: "English";
    src: url(/public/fontFamily/Sora-Regular.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "SoraSemiBold";
    src: url(/public/fontFamily/Sora-SemiBold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "SoraSemiLight";
    src: url(/public/fontFamily/Sora-Light.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "SoraExtraLight";
    src: url(/public/fontFamily/Sora-ExtraLight.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "StintUltraCondensed";
    src: url(/public/fontFamily/Sora-ExtraLight.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "SoraThin";
    src: url(/public/fontFamily/Sora-Thin.ttf) format("truetype");
    font-display: swap;
}
:root{
    --English-font:'English';
    --English-font-semibold:'SoraSemiBold';
    --English-font-light:'SoraSemiLight';
    --English-font-Extralight:'SoraExtraLight';
    --English-font-SoraThin:'SoraThin';
    --English-StintUltraCondensed:'StintUltraCondensed';
    --Menu-Text-Color:#051A2F;

}
